<!-- https://getbootstrap.com/docs/5.2/examples/ -->
<main class="form-signin w-100 mt-5 m-auto text-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="./assets/logo_perscholas.png" alt="" width="72" height="57">
        <h1 class="mb-3 display-5">Please sign in</h1>
        <div class="form-floating">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username"
            formControlName="username">
          <div class="alert alert-danger" *ngIf="loginForm.get('username')?.invalid
            && loginForm.get('username')?.touched">
            <div *ngIf="loginForm.get('username')?.errors?.['required']">
              User name is required
            </div>
          </div>
        </div>
        <div class="form-floating">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password"
          formControlName="password">
          <div class="alert alert-danger" *ngIf="loginForm.get('password')?.invalid
            && loginForm.get('password')?.touched">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class=" w-100 btn btn-lg btn-success">Login</button>
        <div class="alert alert-warning" *ngIf="submitted && isLoginFailed">
          Login failed- {{ errorMessage }}
        </div>
        <p class="mt-5 mb-3 text-muted">You don"t have an account <a href="/signup" routerLink="signup">register</a></p>

      </form>
    </main>
