<div class="row m-2 mt-5">
  <!-- <div class="col-lg-4">
    <img class="rounded-circle" src="./assets/job-applications.png" alt="Generic placeholder image" width="140" height="140">
    <h2 class="title mb-2">View Job Applications</h2>
    <p class="mb-2">Here You can view Job applications submitted by candidates</p>
    <p><a class="btn btn-success" routerLink="/user/resume" role="button">View Job Applications &raquo;</a></p>
  </div>/.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="./assets/users.png" alt="Generic placeholder image" width="140" height="140">
    <h2 class="title mb-2">Manage Users</h2>
    <p class="mb-2">You can view and delete users that no longer require access </p>
    <p><a class="btn btn-info" routerLink="/admin/users" role="button">View Users &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="./assets/search-job.png" alt="Generic placeholder image" width="140" height="140">
    <h2 class="title mb-2">Manage Job Listings</h2>
    <p class="mb-2">Here you can manage Per Scholas' Jobs Listings, you can create, read ,edit and delete job postings</p>
    <p><a class="btn btn-primary" routerLink="/admin/jobs" role="button">View Job Listings &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<!-- https://getbootstrap.com/docs/4.0/examples/carousel/ -->
