
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:white;">Per Scholas Jobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">

        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="loggedIn() && !isAdmin()" routerLink="/user">User Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="loggedIn() && isAdmin()" routerLink="/home">Admin Dashboard</a>
        </li>
      </ul>

        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a href="/signup" class="nav-link" routerLink="signup" *ngIf="!loggedIn()">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="" *ngIf="!loggedIn()">Login</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" *ngIf="loggedIn()">{{ getUserName() }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="onLogOut()" *ngIf="loggedIn()" routerLink="">LogOut</a>
          </li>
        </ul>

  </div>
  </nav>
