
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:white;">Per Scholas Jobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
            <a class="nav-link" *ngIf="isAdmin()" (click)="onOpenModal(null!, 'add')">Add Job Offer <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="loggedIn()" routerLink="/home">User Content</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" *ngIf="loggedIn()" routerLink="/home">Admin Content</a>
        </li>
      </ul>
        <form class="d-flex" *ngIf="loggedIn()">
            <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
            name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Job Offer..." required>
        </form>
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a href="/signup" class="nav-link" routerLink="signup" *ngIf="!loggedIn()">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="" *ngIf="!loggedIn()">Login</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" *ngIf="loggedIn()">{{ getUserName() }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="onLogOut()" *ngIf="loggedIn()" routerLink="">LogOut</a>
          </li>
        </ul>

  </div>
  </nav>
