<div class="row m-2 mt-5">
  <div class="col-lg-4">
    <img class="rounded-circle" src="./assets/resume.png" alt="Generic placeholder image" width="140" height="140">
    <h2 class="title mb-2">Resume Informations</h2>
    <p class="mb-2">Here You can add, view and edit your resume, please make sure you have your resume uploaded in the cloud (in platforms like: Google Drive,Dropbox,OneDrive...) with shareable link.</p>
    <p><a class="btn btn-success" routerLink="/user/resume" role="button">View Resume Informations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="./assets/address.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2 class="title mb-2">Address Informations</h2>
    <p class="mb-2">Some Jobs are location specific in order to qualify the recruiter needs this information, your address will not be shared with any third party.</p>
    <p><a class="btn btn-info" routerLink="/user/address" role="button">View Address Informations &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="./assets/search-job.png" alt="Generic placeholder image" width="140" height="140">
    <h2 class="title mb-2">Job Listings</h2>
    <p class="mb-2">Here you can see all Per Scholas' Jobs advertised and you can apply to the ones that much your qualifications</p>
    <p><a class="btn btn-primary" routerLink="/user/jobs" role="button">View Job Listings &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<!-- https://getbootstrap.com/docs/4.0/examples/carousel/ -->
